{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/1228ed801f.js" crossorigin="anonymous"></script>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>

           @font-face {
            font-family: BYekan;
            font-style: normal;
            font-weight: normal;
            src: url("/static/fonts/BYekan.eot");/* IE9 Compat Modes */
            src: url("/static/fonts/BYekan.woff") format('woff'),
            url("/static/fonts/BYekan.woff") format('woff2'), /* Super Modern Browsers */ url("../../static/fonts/BYekan.ttf") format('truetype') /* Safari, Android, iOS */
        }

             * {
            box-sizing: border-box
        }

           .logoHolder {
               width: 50px;
               position: absolute;
               left: 0;
               right: 0;
               margin-right: 55%;
               margin-top: 1%;
               z-index: 10 !important;
               direction: ltr;

        }

        .logo {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            position: absolute;
            direction: ltr

        }

        .typography {
            position: absolute;
            margin-left: 60px;
            margin-top: 20%;
            color: white;
            font-size: 20px

        }
           html {
               min-height: 100%;
               position: relative;
               font-family: BYekan, serif !important;
           }

           body {
               direction: rtl;
               background: #282a36;

           }

           .navbar.navbar-dark.bg-dark li a{
            color: #fff;
        }

          .navbar.navbar-dark.bg-dark a:hover{
              color: grey;
        }

       .nav.navbar-nav li a {
           color: #fff;
           text-decoration: none;
       }

        .nav.navbar-nav a:hover {
            color: grey;
        }

        .nav-pills > li > a.active {
            background-color: #E16539 !important;
        }

           .wrimagecard {
               margin-top: 0;
               margin-bottom: 1.5rem;
               text-align: left;
               position: relative;
               background: #fff;
               box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
               border-radius: 4px;
               transition: all 0.3s ease;
           }
            .wrimagecard .fa{
                position: relative;
                font-size: 70px;
            }
            .wrimagecard-topimage_header {
                padding: 20px;
            }
            a.wrimagecard:hover, .wrimagecard-topimage:hover {
                box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
            }
            .wrimagecard-topimage a {
                width: 100%;
                height: 100%;
                display: block;
            }
            .wrimagecard-topimage_title {
                height: 80px;
                padding: 20px 24px 0.75rem;
                position: relative;
            }
            .wrimagecard-topimage a {
                border-bottom: none;
                text-decoration: none;
                color: #525c65;
                transition: color 0.3s ease;
            }




    </style>
    <title>PowerGrow</title>
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid" style="vertical-align: center">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href='{% url 'home:home' %}'>ورود به سایت</a>
  </li>
</ul>

  <ul class="nav nav-pills navbar-left">
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">سلام {{ user.name }} عزیز</a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a style="color: black ; width: 100% ; text-align: center" class="dropdown-item" href='{% url 'user:profile' user.id %}'>پروفایل</a></li>
        <li><a style="color: black ; width: 100% ; text-align: center" class="dropdown-item" href="">خروج</a></li>
    </ul>
  </li>
    </ul>
  </div>
</nav>

<div class="logoHolder">

    <img alt="" src="/media/{{ about.logo }}" class="logo">
    <div class="typography">PowerGrow</div>

</div>

<div class="container-fluid" style="margin-top: 100px">
	<div class="row">
        <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
           <a href="{% url 'product:sports_view'  %}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(213, 15, 37, 0.1) ; text-align: center; ">
              <i class="fa fa-futbol-o" aria-hidden="true" style="display: inline-block ; color: rgba(213, 15, 37, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">ورزش ها</h4>
          </div>
           </a>
      </div>
</div>
	<div class="col-md-3 col-sm-4">
	<div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'product:courses_view'  %}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(119, 178, 88, 0.1) ; text-align: center; ">
              <i class="fa fa-superpowers" aria-hidden="true" style="display: inline-block ; color: rgba(119, 178, 88, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">دوره ها</h4>
          </div>
        </a>
      </div>
      </div>
        <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
            <a href="{% url 'product:sessions_view'  %}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(121, 90, 71, 0.1) ; text-align: center; ">
              <i class="fa fa-hourglass" aria-hidden="true" style="display: inline-block ; color: rgba(121, 90, 71, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">جلسه ها</h4>
          </div>
        </a>
      </div>
	</div>
        	<div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'product:days-view'  %}">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1) ; text-align: center; ">
              <i class="fa fa-thermometer-three-quarters" aria-hidden="true" style="display: inline-block ; color: rgba(130, 93, 9, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">روز ها</h4>
          </div>
        </a>
      </div>
	</div>
        <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
           <a href="{% url 'reservation:gym_view'%}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(51, 105, 232, 0.1) ; text-align: center; ">
              <i class="fa fa-fort-awesome" aria-hidden="true" style="display: inline-block ; color: rgba(51, 105, 232, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">سالن ها</h4>
          </div>
           </a>
      </div>
	</div>
        <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
             <a href="#">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(250, 188, 9, 0.1) ; text-align: center; ">
              <i class="fa fa fa-usd" aria-hidden="true" style="display: inline-block ; color: rgba(250, 188, 9, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">قیمت گذاری</h4>
          </div>
           </a>
      </div>
	</div>
    <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'reservation:reserve_view'%}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(119, 178, 88, 0.1) ; text-align: center; ">
              <i class="fa fa-calendar-check-o" aria-hidden="true" style="display: inline-block ; color: rgba(119, 178, 88, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">رزرو ها</h4>
          </div>
        </a>
      </div>
    </div>
         <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
             <a href="{% url 'user:users_view' %}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(250, 188, 9, 0.1) ; text-align: center; ">
              <i class="fa fa-users" aria-hidden="true" style="display: inline-block"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">کاربر ها</h4>
          </div>
           </a>
      </div>
	</div>
         <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
             <a href="#">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(119, 178, 88, 0.1) ; text-align: center; ">
              <i class="fa fa-calendar" aria-hidden="true" style="display: inline-block ; color: rgba(119, 178, 88, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">تقویم</h4>
          </div>
           </a>
      </div>
         </div>
              <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
             <a href='{% url 'seo:news' %}'>
          <div class="wrimagecard-topimage_header" style="background-color:rgba(213, 15, 37, 0.1); text-align: center; ">
              <i class="fa fa-edge" aria-hidden="true" style="display: inline-block ; color:rgba(213, 15, 37, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">اطلاعیه ها</h4>
          </div>
           </a>
      </div>
	</div>
         <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
             <a href='{% url 'home:slider' %}'>
          <div class="wrimagecard-topimage_header" style="background-color:rgba(51, 105, 232, 0.1) ; text-align: center; ">
              <i class="fa fa-wordpress" aria-hidden="true" style="display: inline-block ; color: rgba(51, 105, 232, 0.9)"></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">بنر ها</h4>
          </div>
           </a>
      </div>
	</div>
         <div class="col-md-3 col-sm-4">
      <div class="wrimagecard wrimagecard-topimage">
             <a href='{% url 'aboutUs:about' %}'>
          <div class="wrimagecard-topimage_header" style="background-color:rgba(121, 90, 71, 0.1) ; text-align: center; ">
              <i class="fa fa-wikipedia-w" aria-hidden="true" style="display: inline-block ; color: rgba(121, 90, 71, 0.9) "></i>
          </div>
          <div class="wrimagecard-topimage_title" style="text-align: center">
            <h4 style="display: inline-block">درباره ما</h4>
          </div>
           </a>
      </div>
	</div>
</div>
</div>

</body>

<script>

    let user = document.getElementById("user")
    let access = document.getElementById("access")
    let salary = document.getElementById("salary")
    let userPopup = document.getElementById("userPopup");
    let accessPopup = document.getElementById("accessPopup");
    let coursePopup = document.getElementById("coursePopup");
    let calendarPopup = document.getElementById("calendarPopup");
    let course = document.getElementById("course")
    let reserve = document.getElementById("reserve")
    let reserves = document.getElementById("reserves")
    let reservePopup = document.getElementById("reservePopup")
    let profile = document.getElementById("profile")
    let cost = document.getElementById("cost")
    let cal = document.getElementById("cal")
    let type = 0


    profile.addEventListener("click", function () {
        location.assign(`/user/profile/{{ id }}/`)
    })


    reserves.addEventListener("click",function () {

        reservePopup.classList.toggle("show");

    })

     cost.addEventListener("click",function () {
         reservePopup.classList.remove("show");
        calendarPopup.classList.toggle("show");
        type=3

    })

      reserve.addEventListener("click",function () {
         reservePopup.classList.remove("show");
        calendarPopup.classList.toggle("show");
        type=4


    })

    course.addEventListener("click",function () {
        coursePopup.classList.toggle("show");

    })

     access.addEventListener("click",function () {
            userPopup.classList.remove("show");
              accessPopup.classList.toggle("show");
              type=1

    })

     salary.addEventListener("click",function () {
            userPopup.classList.remove("show");
              accessPopup.classList.toggle("show");
              type = 2

    })

    user.addEventListener("click",function () {
        userPopup.classList.toggle("show");
    })

      window.addEventListener("click", function (event) {
        if (event.target === userPopup) {
            userPopup.classList.remove("show");
        }
         if (event.target === accessPopup) {
            accessPopup.classList.remove("show");
        }

          if (event.target === coursePopup) {
            coursePopup.classList.remove("show");
        }
           if (event.target === reservePopup) {
            reservePopup.classList.remove("show");
        }
            if (event.target === calendarPopup) {
            calendarPopup.classList.remove("show");
        }
    });


    document.addEventListener("DOMContentLoaded", function() {
        getYear()
});

</script>

<script>

    let register = document.getElementById("register")
    let number = document.getElementById("number")

    register.addEventListener("click",function () {

        let url = '+98'+number.value

        if (number.value !==null || number.value !=="") {
            if (type===1) {
                window.location.assign("/user/access/" + url)
            }else if (type===2){
                window.location.assign("/user/teacher/salary/api/" + url)
            }
        }else {
            alert("شماره موبایل الزامی هست")
        }
    })

</script>

<script>
    let calendar = document.getElementById("calendar")
    let monthTitle = document.getElementById("monthTitle")
    let yearTitle = document.getElementById("yearTitle")
    let prev = document.getElementById("prev")
    let next = document.getElementById("next")
    let days = document.getElementById("days")
    let monthPosition = 1
    let result
    let monthSize
    let currentDayId
    let today = new Date().toLocaleDateString('fa-IR');
    today = today.split('/')
    let currentDay = today[2].replace(/[۰-۹]/g, w => String.fromCharCode(w.charCodeAt(0) - 1728) )
    let currentMonth = today[1].replace(/[۰-۹]/g, w => String.fromCharCode(w.charCodeAt(0) - 1728) )


    async function getYear() {

        const response = await fetch('/calendar/api/year/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        });
        result = await response.json()
        result = JSON.parse(JSON.stringify(result))
        monthSize = result[0].months.length
        yearTitle.innerHTML = result[0].number
        getDays(monthPosition)

    }

        next.addEventListener("click", function () {
            if (monthPosition > 0) {
                monthPosition = monthPosition - 1
                getDays(monthPosition)
            }
        })

    prev.addEventListener("click",function () {
         if (monthPosition<monthSize-1){
            monthPosition = monthPosition+1
             getDays(monthPosition)
        }
    })

    function getDays(monthPosition) {
        monthTitle.innerHTML = result[0].months[monthPosition].name
        days.innerHTML=""
        times.innerHTML = ""
        const emptyDay = document.createElement("li")
                emptyDay.innerHTML = ' '

        switch (result[0].months[monthPosition].startDay) {

            case "یکشنبه" :
                const empty0 = document.createElement("li")
                days.appendChild(empty0)
                break
            case "دوشنبه" :
                const empty1 = document.createElement("li")
                days.appendChild(empty1)
                const empty2 = document.createElement("li")
                days.appendChild(empty2)
                break

            case "سه شنبه" :
               const empty3 = document.createElement("li")
                days.appendChild(empty3)
                const empty4 = document.createElement("li")
                days.appendChild(empty4)
                const empty5 = document.createElement("li")
                days.appendChild(empty5)
                break
             case "چهارشنبه" :
                 const empty6 = document.createElement("li")
                days.appendChild(empty6)
                const empty7 = document.createElement("li")
                days.appendChild(empty7)
                const empty9 = document.createElement("li")
                days.appendChild(empty9)
                 const empty10 = document.createElement("li")
                days.appendChild(empty10)

                break
             case "پنجشنبه" :
                const empty11 = document.createElement("li")
                days.appendChild(empty11)
                const empty12 = document.createElement("li")
                days.appendChild(empty12)
                const empty13 = document.createElement("li")
                days.appendChild(empty13)
                 const empty14 = document.createElement("li")
                days.appendChild(empty14)
                 const empty15 = document.createElement("li")
                days.appendChild(empty15)
                break
             case "جمعه" :
                  const empty16 = document.createElement("li")
                days.appendChild(empty16)
                const empty17 = document.createElement("li")
                days.appendChild(empty17)
                const empty18 = document.createElement("li")
                days.appendChild(empty18)
                 const empty19 = document.createElement("li")
                days.appendChild(empty19)
                 const empty20 = document.createElement("li")
                days.appendChild(empty20)
                 const empty21 = document.createElement("li")
                days.appendChild(empty21)
                break
        }
        for (let i = 0 ; i< result[0].months[monthPosition].days.length ; i++){
            const dayItem = document.createElement("li")
            if (result[0].months[monthPosition].days[i].holiday === true && result[0].months[monthPosition].days[i].number > parseInt(currentDay)) {
                dayItem.classList.add("holidayButton")
            }else if ( result[0].months[monthPosition].number === parseInt(currentMonth) && result[0].months[monthPosition].days[i].number === parseInt(currentDay))
            {
                dayItem.classList.add("activeButton")
                currentDayId = result[0].months[monthPosition].days[i].id
                date = `${result[0].number}-${result[0].months[monthPosition].number}-${result[0].months[monthPosition].days[i].number}`

            }else if (result[0].months[monthPosition].number === parseInt(currentMonth) && result[0].months[monthPosition].days[i].number < parseInt(currentDay)){
                dayItem.classList.add("disActiveButton")
            }
            dayItem.innerHTML = result[0].months[monthPosition].days[i].number
            dayItem.setAttribute("itemid",result[0].months[monthPosition].days[i].id)
            days.appendChild(dayItem)
        }
         const buttons = document.querySelectorAll('.days li');
            Array.from(buttons).forEach(function (button) {
                button.addEventListener('click', async function () {
                    const selected = document.querySelectorAll('.activeButton')
                    Array.from(selected).forEach(function (btn) {
                        btn.classList.remove("activeButton")
                    })
                    button.classList.add("activeButton")
                    await getTimes(button.getAttribute("itemid"))
                    date = `${result[0].number}-${result[0].months[monthPosition].number}-${button.textContent}`
                    console.log(date)

                })
            })

         if(monthPosition===0) {
            getTimes(currentDayId)
        }
    }

</script>


<script>

    let timeSize
    let res
    let times = document.getElementById("times")
    let sessionTitle = document.getElementById("timeSession")
    let inputSession = document.getElementById("inputSession")
    let price = document.getElementById("price")
    let off = document.getElementById("off")
    let final = document.getElementById("final")




        async function getTimes(day) {

        times.innerHTML = ""

        const result = await fetch(`/calendar/api/time/${day}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        });
        res = await result.json()
        res = JSON.parse(JSON.stringify(res))

              for (let i = 0 ; i< res.length ; i++){
            const timeItem = document.createElement("li")
                  timeItem.innerHTML = res[i].time
                  timeItem.setAttribute("id",`${i}`)
                  timeItem.setAttribute("itemid",res[i].id)
                  if (res[i].reserved ===true){
                      timeItem.classList.add("reservedTime")
                  }
                  times.appendChild(timeItem)
        }

               const timeButton = document.querySelectorAll('.times li');
            Array.from(timeButton).forEach(function (btn) {
                btn.addEventListener('click', async function () {
                     const selected = document.querySelectorAll('.selectedTime')
                    Array.from(selected).forEach(function (btn) {
                        btn.classList.remove("selectedTime")
                    })
                   btn.classList.add("selectedTime")
                    time = btn.getAttribute("itemid")
                    if (type===3){
                        window.location.assign(`/calendar/api/cost/${time}/`)
                    }else if (type===4) {
                        window.location.assign(`/reservation/api/admin/reserve/${time}/`)
                    }
                })
            })
    }

</script>

</html>